#ligado {
    background-color: greenyellow;
    border: none;
    width: 70px;
    height: 20px;
}

#desligado {
    background-color: rgb(239, 4, 4);
    border: none;
    width: 70px;
    height: 20px;
}

.lampada {
    width: 100px;
    height: 100px;
    background-color: grey;
    border: 1px solid black;
    
    margin: auto;
}